.left-menu-cont a,.mobile-left-menu-cont a,.category-label p,.advert-title-cont,.i-title,.item-cont a,
a.i-add-cart-link,.corner-ribbon.white,.range-info-cont,.filter-button,.t-s-title, .t-s-price,
.adress-info,.detail-content a.i-add-whish-link{
	color: #444;
}
/*-------------------------Font-Color-2----------------------------*/
.header-menu a, .slide-title-cont p, .slide-description-cont, .f-menu-title,
.cart-content table tr:nth-child(1) td, .whishlist-content h2, .login-content h2,
.login-content .checkbox label{
	color: #444;
}
/*-------------------------Font-Color-1----------------------------*/
.top-menu-cont a, .top-menu-cont ul li ul li, .left-menu-cont label, .detail-content h2{
	color:#444;
}
.top-menu-cont ul li ul li a, .top-menu-cont ul li ul li a, .sub-sub-menu li a{ 
	color: #444!important;
}
/*-------------------------Color----------------------------*/
.top-menu-cont ul li:hover a,.filter-checkbox:checked + .filter-checkbox-simul,
.slide-button-cont a:hover, .advert-button-cont a:hover, a.i-add-cart-link:hover,
.filter-button.active, .filter-button:hover, .detail-content a.i-add-whish-link:hover{
	background-color: #E47297;
} 
.nav-cont ul li.active a,.nav-cont ul li.active a:hover{
	background-color: #E47297!important;
}
.filter-checkbox:checked + .filter-checkbox-simul, a.i-add-cart-link:hover,
.filter-button.active, .filter-button:hover, .nav-cont ul li.active a,
.nav-cont ul li.active a:hover, .detail-content a.i-add-whish-link:hover{
	border-color:#E47297; 
}
.top-menu-cont  ul li div.submenu::after {
	border-bottom-color: #E47297;
} 
.footer-fluid{
	border-top-color: #E47297;	
}
.header-menu a:hover, .left-menu-cont a:hover, .mobile-left-menu-cont a:hover,
.slide-title-cont p span, .advert-title-cont span, .i-price,
.item-cont a:hover, .t-s-price, .nav-cont ul li a:hover, .f-title span,
.f-info p a:hover, p.d-price, .breadcrumb a:hover, .cart-content table tr td a:hover,
.item-price-cont,.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #E47297;
}
.top-menu-cont ul li ul li a:hover, .top-menu-cont ul li ul li a.active { 
	color: #E47297!important;	
}
.nstSlider .rightGrip, .nstSlider .leftGrip,.nstSlider .bar {
  background: #E47297;
}
.category-label{
	border-left-color:#E47297!important;
}
/*------------------------------------------------------*/
.logo{
	margin-top: 40px;
	width: 56px;
	height: 60px;
	background-image: url('../../images/eshop.png');
}
.shop-name{
	line-height: 140px;
	font-size: 50px;
	margin-left: 15px;
	font-family: "Roboto",sans-serif;
	color: #999;
	font-weight: 100;
}
.mobile-header .logo{
	margin-top: -5px;	
	width: 25px;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 26px;	
}
.mobile-header .shop-name{
	font-size: 20px;
	line-height: 25px;	
	margin-bottom: 0px;
	margin-left: 8px;
	margin-top: -3px;
}
/*---------------Top menu start---------------*/
.top-menu-cont{
	border: 1px solid #eee;
	border-right: none;
	border-left: none;
	height: 50px;
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-color: #fafafa;
}
.top-menu-cont i{
	font-size: 13px;
}
.top-menu-cont a{
	text-decoration: none;
	display: block;
	height: 48px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
}

.top-menu-cont ul{
	margin: 0;
	padding: 0;
	line-height: 47px;
	display: inline;
}
.top-menu-cont ul li{
	display: inline-block ;
	margin-right: 10px;
	position: relative;
	height: 48px;
}
.top-menu-cont ul li i{
	visibility: hidden;
}

.top-menu-cont ul li:hover a{
	color:#fff;
} 

.top-menu-cont ul li:hover i{
	visibility: visible;
} 

.top-menu-cont  ul li div.submenu {
	padding: 0;
	position: absolute;
	top: 48px;
	left: -20px;
	min-width: 310px;
	width: auto;
	display: block;
	visibility: hidden; 
	z-index: 1000;
	background-color: #fff;
	border: 5px solid #eee;
	border-top-width: 1px;
	overflow: hidden;
}
.top-menu-cont  ul li div.submenu div{
	height: 100%;
	width: 150px;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.top-menu-cont  ul li div.submenu div.submenu-left{
	border-right: 1px solid #eee;
	-webkit-box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.1);
	box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.1);
}
.top-menu-cont  ul li div ul{
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: block;
}
.top-menu-cont  ul li div.submenu div.submenu-right ul{
	visibility: hidden;
}
.top-menu-cont  ul li div.submenu div.submenu-right ul.active{
	visibility: visible;
}
.top-menu-cont  ul li div.submenu::after {
	content: '';
	border: 6px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: -12px;
	left: 20px;
} 
.top-menu-cont ul li ul li { 
	display: block; 
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	margin: 0px;
}
.top-menu-cont ul li ul li a{ 
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #eee;
	white-space: nowrap;
	width: auto;
	position: relative;
	background-color: transparent!important;	
}

.top-menu-cont ul li ul li a i{ 
	position: absolute;
	top: 17px;
	right:10px;
	visibility: hidden!important;;
}
.top-menu-cont ul li ul li:last-child a { 
	border-bottom: none;
}
.sub-sub-menu li a{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #eee;
	white-space: nowrap;
	width: auto;
	position: relative;
	background-color: transparent!important;
}

.top-menu-cont ul li ul li a.active i{ 
	visibility: visible!important;
}
.top-menu-cont ul li:hover div {
 	display: block!important;
}
/*---------------Top menu end---------------*/
.header-menu{
	line-height: 140px;
	padding-top: 5px;
	margin-bottom: -5px;
	font-family: "Roboto",sans-serif;
	font-weight: 100;
	font-size: 14px;
}
.header-menu i{
	font-size: 12px;
}
.header-menu a{
	text-decoration: none;
	padding-top: 5px;
}
.main-body{
	margin-top: 40px;
}
.left-menu-cont{
	margin-right: 0px;
}
.left-menu-cont label{
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: lighter;
	display: block;
	margin: 0px;
}
.color-viewer{
	display: none;
}
.left-menu-cont label:hover .color-viewer{
	display: block;
}
.filter-checkbox{
    display: none;
}

.filter-checkbox-simul{
	height: 14px;
	width: 14px;
	border: 1px solid #ccc;
	margin-bottom: -2px;
	display: inline-block;
	position: relative;
}
.filter-checkbox-simul i{
	position: absolute;
	font-size: 9px;
	left: 2px;
	top: 1px;
	color: #fff;
}
.left-menu-cont ul, .mobile-left-menu-cont ul{
	list-style-type:none;
	margin : 0;
	padding: 0;
	margin-bottom: 20px;
}
.mobile-left-menu-cont ul{
	margin-bottom: 5px;	
}
.left-menu-cont ul li, .mobile-left-menu-cont ul li{
	line-height: 40px;
	border-bottom: 1px dotted #ddd;
	padding-left: 20px;
	padding-right: 20px;
}
.left-menu-cont ul li:last-child, .mobile-left-menu-cont ul li:last-child{
	border-bottom:none;
}
.left-menu-cont a,.mobile-left-menu-cont a{
	text-decoration: none;
}
.mobile-left-menu-cont{

}
.category-label{
	width: 100%;
	border: 1px solid #eee;
	border-left-width: 4px;
	font-family: "Roboto",sans-serif;
	font-weight: 100;
	background-color: #fafafa;
}
.category-label p{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
	margin-bottom: 4px;
	text-transform: uppercase;
}
.category-label-m{
	margin-top: -1px;
}
.category-label-m i{
	font-size: 13px;
	margin-right: 15px;
	color: #ccc;
}
.main-content-banner{
	outline: 1px solid #eee;
	position: relative;
}
.slide-cont{
	position: relative;
}
.slide-content-cont{
	height: 382px;
	width:830px;
	position: absolute;
	background-image: url('../../images/seamless_paper_texture.png');
	top:9px;
	left:9px;
}
.slider-img{
	position: absolute;
	right: 50px;
	bottom: 0px;
	max-height: 340px;
}
.slide-title-cont{
	height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
}
.slide-title-cont p {
	font-family: "Roboto",sans-serif;
	font-size: 35px;	
	background-image: url('../../images/slide_title_bg.png');
	padding-left: 15px;
	padding-right: 15px;
}
.slide-description-cont{
	width:300px ;
	position: absolute;
	top: 120px;
	left: 50px;	
	font-family: "Roboto",sans-serif;
	font-size: 14px;	
}
.slide-button-cont{
	width:300px ;
	position: absolute;
	top: 180px;
	left: 50px;		
}
.slide-button-cont a{
	display: block;
	background-color: #ccc;
	width: 100px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
	transition: background-color 0.3s ease;		
}

.main-cont-advert{
	margin-top: 25px;
}
.advert-cont-m{
	border: 1px solid #eee;
	height: 150px;
	position: relative;
}
.advert-cont-inner{
	position: absolute;
	width: auto;
	height: auto;
	background-image: url('../../images/gray_jean.png');
	top:9px;
	left:9px;
	right: 9px;
	bottom: 9px;
}
.advert-cont-img-1{
	position: absolute;
	height: 90px;
	left: 20px;
	bottom: 20px;
}
.advert-cont-img-2{
	position: absolute;
	height: 140px;
	left: 20px;
	bottom: -5px;
}
.advert-button-cont{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.advert-button-cont a{
	display: block;
	background-color: #ccc;
	width: 100px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s ease;		
}
.advert-title-cont{
	position: absolute;
	right: 20px;
	top: 20px;	
	font-size: 16px;
	font-family: "Roboto",sans-serif;
	text-align: right;
}
.advert-title-descr{
	position: absolute;
	right: 20px;
	top: 45px;	
	font-size: 14px;
	font-family: "Roboto",sans-serif;
	text-align: right;
	color: #999;	
}

.main-content{
	margin-top: 30px;
}
.item-cont{
	border: 1px solid #eee;
	margin-bottom: 30px;
	position: relative;
	transition: border-color 0.3s ease;
}

/* .item-cont-inner-border{
	position: absolute;
	height: 100%;
	width: 100%;
	border: 4px solid transparent;
	top:0px;
	left:0px;
	background-color: transparent;
	pointer-events: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
	background: none !important;
	z-index: 1;	
	transition: border-color 0.3s ease;
} */
.item-cont:hover {
	/* border-color:#FF9933; */
	/* top: -3px; */
	
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}
/* .item-cont:hover .item-cont-inner-border{
	border-color:#FF9933;
} */

.item-cont a.img-cont{
	overflow: hidden;
	cursor: pointer;
	display: block;
}
.item-cont img{
	margin-left: auto;
	margin-right: auto;

}	
.item-cont:hover img{
/*  -webkit-transform:scale(1.05); 
-moz-transform:scale(1.05); 
-ms-transform:scale(1.05); 
-o-transform:scale(1.05); 
transform:scale(1.05);  */
} 
.add-to-wishlist-cont{
	position: absolute;
	top: 15px;
	left: 15px;
	display: none;
}
.item-cont:hover .add-to-wishlist-cont{
	display: block;
}
.add-to-wishlist-cont a{
	font-size: 18px;
	color: #eee!important;
}
.add-to-wishlist-cont a:hover{
	color: #ddd!important;
}

.i-price{
	text-align: center;
	margin-top: 15px;
	font-family: "Roboto",sans-serif;
	font-weight: bold;	
	font-size: 16px;
	margin-bottom: 5px;
}
.i-title{
	text-align: center;
	font-family: "Roboto",sans-serif;
}
.item-cont a{
	text-decoration: none;
}
a.i-add-cart-link{
	display: block;
	background-color: #fff;
	border: 1px solid #eee;
	width: 120px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	margin-right: 20px;
	transition: background-color 0.3s ease;	
	margin-left: auto;
	margin-right: auto;
}
a.i-add-cart-link:hover{
	border-width: 1px;
	border-style: solid;
	color: #fff;
}

/* Ribbons */
.corner-ribbon.top-right{
	width: 80px;
	top: 10px;
	right: -20px;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	font-family: "Roboto",sans-serif;
	color: #fff;
	font-size: 13px;
	text-align: center;
}

.ribbon-cont{
	position: absolute;
	height: 100px;
	width: 100px;
	top: -1px;
	right: -1px;
	overflow: hidden;
	z-index: 2;
}
/* Colors for Ribbons */

.corner-ribbon.white{background: #f0f0f0;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

/* Range slider start*/
.range-slider-cont{
	margin-top: 25px;
	margin-bottom: 40px;
}

.range-info-cont{
	margin-top: 20px;
	font-family: "Roboto",sans-serif;
	font-weight: 100;
}
.filter-button{
	display: block;
	background-color: #fff;
	border: 1px solid #eee;
	width: 100%;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;	
	font-size: 14px;
	margin-top: 5px;
}
.filter-button.active{
	border-width: 1px;
	border-style: solid;
	color: #fff;
}
.filter-button:hover{
	border-width: 1px;
	border-style: solid;
	color: #fff;
}
.filter-button i{
	font-size: 12px;
}
.filter-clear-button i{
	font-size: 12px;
}
.is_clickable {
  cursor: hand;
  cursor: pointer;
}
.nstSlider {
  cursor: hand;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 15px;
  background: #eee;
}
.nstSlider .leftGrip.gripHighlighted {
  background: #113344;
}
.nstSlider .rightGrip.gripHighlighted {
  background: #113344;
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 15px;
  height: 15px;
}
.nstSlider .bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  height: 4px;
  top: 6px;
}
.nstSlider .highlightPanel {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  background: #e87722;
  height: 20px;
  top: 0;
}

/* Range slider end */
.top-sale-cont{}
.top-sale-cont img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.top-sale-cont ul{
	list-style-type:none;
	margin : 0;
	padding: 0;
	margin-bottom: 25px;
}
.top-sale-cont ul li{
	
	padding-top: 5px;
	padding-bottom: 5px;
}
.top-sale-cont ul li:last-child{
	border-bottom:none;
}
.t-s-title, .t-s-price{
	margin: 0;
	padding: 0;
	line-height: 20px;
	text-align: left;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: "Roboto",sans-serif;	
	margin-top: 0px;	
	text-align: center;
}
.t-s-price{
	margin: 0;
	padding: 0;	
	margin-bottom: 10px;
}
.left-advert-cont{

	margin-top: 30px;
}
.nav-cont ul li a{
	color: #777;
	font-family: "Roboto",sans-serif;	
}
.footer{
	padding: 50px;	
	padding-top: 80px;
	padding-bottom: 100px;
	position: relative;
}
.footer-fluid{
	margin-top: 40px;
	border-top-width: 5px;
	border-top-style: solid;
	background-color: #fafafa;	
}
.footer-footer{
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: #fafafa;
	left: 0px;
	bottom: 0px;
}

.adress-info{
	position: absolute;
	top:45px;
}
.adress-cont{
	position: relative;
}
.f-title{
	font-size: 30px;
	font-family: "Roboto",sans-serif;	
	color: #ddd;
	font-weight: bold;
}
.inst-cont img{
	max-width: 90px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.f-info p a{
	font-size: 14px;
	font-family: "Roboto",sans-serif;	
	font-weight: 100;
	color: #888;		
	text-decoration: none;
}
.f-info p{
	margin-bottom: 20px;
}
.f-info-m{
	text-align: center;
}
.f-info-m .col-xs-12{
	margin-bottom: 20px;
}
.f-menu-title{
	font-size: 18px;
	font-family: "Roboto",sans-serif;	
	margin: 0;
	padding: 0;
	margin-bottom:20px;
}

.search-cont input{
	border: none;
	background-color: #f6f6f6;
	height: 30px;
	margin-top: 9px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	width: 200px;
	color: #aaa;
}
.search-cont{
	position: relative;}
.search-cont i{
	position: absolute;
	right: 10px;
	top: 17px;
	color: #ccc;
}
.search-cont-mobile{
	margin-left: 15px;
	width: auto;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: -25px;
}
.search-cont-mobile input{
	width: 100%!important;
}


/*--------------------Detail page---------------------*/
.detail-img{
	margin-bottom: 25px;
}
.detail-img img{
	margin-left: auto;
	margin-right: auto;
}
.detail-content p{
	font-family: "Roboto",sans-serif;	
	font-weight: 100;	
}
.detail-content h2{
	font-size: 28px;
	margin-bottom: 11px;
	margin-top: 6px;
}
.d-i-type{
	font-size: 13px;
	margin-top: 5px;
}

.detail-content .i-add-cart-link{
	margin: 0;
	margin-bottom: 40px;

}
.detail-content a.i-add-whish-link{
	display: block;
	background-color: #fff;
	border: 1px solid #eee;
	width: 40px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	margin-right: 20px;
	transition: background-color 0.3s ease;	
	margin-left: 1px;
}
.detail-content a.i-add-whish-link:hover{
	border-width: 1px;
	border-style: solid;
	color: #fff;
}
.d-description{
	text-align: left;
	margin-bottom: 20px;
}
p.d-price{
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 15px;	
}
.d-i-size{
	margin-bottom: 25px;
}
p.d-price .old-price{
	color: #bbb;
	text-decoration: line-through;
}
.breadcrumb a{
	color: #ccc;
	text-decoration: none;
	font-family: "Roboto",sans-serif;	
	font-weight: 100;	
}
.breadcrumb > li + li::before{
    font-family: FontAwesome;
    content: "\f105";
}
.breadcrumb{
	margin-bottom: 0;
	height: 25px;
	line-height: 25px;
	padding: 0;
	border-radius: 4px;
	color: #ccc ;
	background-color: transparent;
	margin-top: 5px;
	font-size: 13px;
}
.breadcrumb .active {
	color: #ccc ;
}

.breadcrumb-cont{
	margin-bottom: -30px;
}
.detail-content  .table {
	font-family: "Roboto",sans-serif;	
	font-weight: 100;
	font-size: 13px;
}
.detail-content  .table td:first-child{
	font-weight: normal;
}
.detail-content  .table td{
	border: none;
	padding-left: 0;
}
.magnifier{
	z-index: 10000!important;
	border: 0px solid #eee!important;
	border-bottom: 20px solid #fff!important;
	margin-top: 1px!important;
}
/*----------------------------Cart Page-------------------------------*/
.cart-cart-icon{
	position: absolute;
	top: 7px;
	left: 30px;
	font-size: 24px;
	color: #ddd;
}
.cart-content table{
	color: #000;
}
.cart-content table tr td:nth-child(3){
	width: 110px;
}
.cart-content table tr td{
	border-color: #eee;
}
.cart-content table tr:nth-child(1){
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.cart-content table tr, .cart-content table tr:nth-child(1) td:nth-child(1){
	text-align: center;
}
.cart-content table tr td:nth-child(1){
	text-align: left;
}
.cart-content table tr {
	font-family: "Roboto",sans-serif;	
	font-weight: 100;
	font-size: 13px;
}
.cart-content table tr:nth-child(1) td{
	font-size: 14px ;
	font-weight: normal;	
}
.cart-content table tr:nth-child(1) td{
	height: 45px;
	vertical-align: middle;
}
.cart-content table tr td a{
	font-size: 13px;
	color: #999;
	text-decoration: none;
}
.cart-content table tr td:last-child a{
	font-size: 14px;
}
.cart-content table tr:last-child td{
	border-bottom: 1px solid #eee;
}
.cart-content .i-add-cart-link{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 14px;
}

/* .cart-content table tr:last-child td:nth-child(4){
	font-family: "Roboto",sans-serif;	
	font-weight: normal;
	font-size: 15px;	
	color: #FF9933;
} */
.input-xs {
	height: 22px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	text-align: center;
	background-color: #fff!important;
}
/*------------------------Whishlist start---------------------------*/
.whishlist-content h2{
	font-size: 25px;
	margin-bottom: 30px;
	margin-top: 6px;	
	font-family: "Roboto",sans-serif;		
}

/*------------------------Login start------------------------------*/
.login-content h2{
	font-size: 25px;
	margin-bottom: 30px;
	margin-top: 6px;	
	font-family: "Roboto",sans-serif;		
}
.login-content .checkbox label{
	font-size: 14px;
	margin-bottom: 10px;	
	margin-left: 5px;
	font-family: "Roboto",sans-serif;		
	font-weight: lighter;
}